$white: white;
$grey: grey;
$grey-back: #f5f5f5;

$green: #4cb27c;
$salmon: #ffa37c;
$light-green: #e4fde1;
$teal: #439a86;
$cobalt: #2b2d42;

@mixin montserrat($color: black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Montserrat", sans-serif;
}

@mixin baskerville($color: black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Libre Baskerville", serif;
}

@mixin button-normalize() {
  @include montserrat($weight: bold);
  border: none;
  background-color: $white;
  padding: 15px 20px;
  border-radius: 300px;
  margin: 10px 0;
}

@mixin light-shadow() {
  box-shadow: 1px 3px 5px rgba(25, 25, 25, 0.25);
}

.home {
  width: 100%;
  min-height: 10px;
  background-image: url(../assets/backgrounds/desktop-background.jpg);
  background-size: cover;
  background-position: center;
}
.primary-nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
.hamb-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .hamb-sec {
    width: 30px;
    height: 7px;
    background-color: $white;
    margin: 2px 5px;
    border-radius: 100px;
  }
}
.logo-name {
  @include montserrat($color: $white, $size: 32pt, $weight: lighter);
  width: 100%;
  text-align: center;
}
.call-to-action {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .cta-main,
  .cta-sub {
    text-align: center;
    padding: 0 10px;
  }
  .cta-main {
    @include montserrat($color: $white, $size: 20pt, $weight: bold);
    text-transform: uppercase;
    line-height: 40px;
  }
  .cta-sub {
    @include montserrat($color: $white, $size: 12pt);
    margin: 10px 0;
  }
  .cta-button {
    @include button-normalize();
  }
}
.mock-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 65%;
    margin-top: 10%;
    margin-bottom: -35%;
  }
}
.leaf-illus-con {
  width: 40%;
  position: relative;
  top: -35px;
  left: -20px;
  z-index: -1;
  height: 0;
  .leaf-illus-1 {
    width: 100%;
  }
}
.wellness {
  box-sizing: border-box;
  margin-top: 30%;
  width: 100%;
  padding: 15px;
  .well-title {
    @include montserrat($size: 20pt, $weight: bold);
    line-height: 35px;
    margin-bottom: 20px;
  }
  .well-body {
    @include montserrat($size: 12pt);
    line-height: 25px;
  }
}
.feature-cards {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    @include light-shadow();
    .feature-icon {
      width: 100px;
      margin: 20px;
    }
    h2 {
      @include montserrat($size: 20pt, $weight: bold);
    }
    p {
      @include montserrat($size: 12pt);
      margin-top: 10px;
      text-align: center;
      padding: 0 20px;
      line-height: 25px;
    }
  }
}
.knowledge-base {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  .kb-title {
    @include montserrat($size: 20pt, $weight: bold);
    line-height: 35px;
    margin-bottom: 20px;
  }
  .kb-body {
    @include montserrat($size: 12pt);
    line-height: 25px;
  }
}
.kb-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .card {
    @include light-shadow();
    margin: 10px;
    padding: 15px 10px 10px 10px;
    width: 110px;
    height: 163px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    p {
      @include montserrat($size: 10pt, $weight: bold);
      text-align: center;
    }
    .recovery {
      width: 160px;
      height: 120px;
    }
  }
}
.real-time {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  .rt-title {
    @include montserrat($size: 20pt, $weight: bold);
    line-height: 35px;
    margin-bottom: 20px;
  }
  .rt-body {
    @include montserrat($size: 12pt);
    line-height: 25px;
  }
  img {
    width: 100%;
  }
}
.download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background-color: $grey-back;
  h2 {
    @include montserrat($size: 20pt, $color: $teal, $weight: bold);
    text-transform: uppercase;
  }
  p {
    @include montserrat($size: 12pt);
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  .store-icon {
    width: 150px;
    margin-top: 15px;
  }
}
.primary-footer {
  width: 100%;
  background-color: $white;
  .social-icon-con {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    img {
      width: 40px;
      margin: 0 10px;
    }
  }
  .copy {
    p {
      text-align: center;
      @include montserrat($size: 10pt, $color: $grey);
      padding: 10px 8px;
      a {
        color: $grey;
      }
    }
  }
}
