$white: white;

@mixin montserrat($color: black, $size: 16pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Montserrat", sans-serif;
}

@mixin baskerville($color: black, $size: 16pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Libre Baskerville", serif;
}

@mixin button-normalize() {
  @include montserrat($size: 12pt, $weight: bold);
  border: none;
  background-color: $white;
  padding: 15px 20px;
  border-radius: 300px;
  margin: 10px 0;
}

.home {
  width: 100%;
  min-height: 10px;
  background-image: url(../assets/backgrounds/desktop-background.jpg);
  background-size: cover;
  background-position: center;
}
.primary-nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
.hamb-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .hamb-sec {
    width: 30px;
    height: 7px;
    background-color: $white;
    margin: 2px 5px;
    border-radius: 100px;
  }
}
.logo-name {
  @include montserrat($color: $white, $size: 32pt, $weight: lighter);
  width: 100%;
  text-align: center;
}
.call-to-action {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .cta-main,
  .cta-sub {
    text-align: center;
    padding: 0 10px;
  }
  .cta-main {
    @include montserrat($color: $white, $size: 20pt, $weight: bold);
    text-transform: uppercase;
    line-height: 40px;
  }
  .cta-sub {
    @include montserrat($color: $white, $size: 12pt);
    margin: 10px 0;
  }
  .cta-button {
    @include button-normalize();
  }
}
.mock-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200%;
    margin-top: -10%;
    margin-bottom: -35%;
  }
}
